.git
.github
.runtime
.venv
env
venv
__pycache__
*.py[cod]
certs
proxy/nginx.conf
.idea
.vscode
*.log
*.zip

# Terraform
**/.terraform/
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.backup
**/*.tfvars
**/*.tfvars.json
**/backend.hcl
